body {
	  	background: lightblue url(/images/Background.jpg);
	  	text-align: center;
    } 
    #container {
        border-radius: 25px;
        padding: 10px;
    	position: relative;
    	top: 20px;
    	background: #F0F8FF;
    	width: 600px;
    	margin: 0 auto;
    }

    