
<h1>Edit your profile:</h1>

<form action="/users/<%= @user.id %>/edit" method="post">
	<input type="hidden" id="hidden" name="_method" value="patch" />
	<label>Change your user name:</label>
	<input type="text" name="name" id="user_name" /></br></br>
	<label>Or change your email address:</label>
	<input type="text" name="email" id="user_email" /></br></br>
	<label>Or change your password:</label>
	<input type="text" name="password" id="user_password" /></br></br>
	<input type="submit" value="Edit Profile" />
</form>	

<h3><a href="/">Main Travel Tracker Menu</a></h3>

<h3><a href="/users/logout">Logout</a></h3></br>
<h1></h1>