<h1>You have successfully logged in to Travel Tracker!</h1>

<h2><a href="/users/<%= @user.id %>/edit">To edit your profile page</a></h2>
<h2><a href="/">To start using Travel Tracker</a></h2>

<h1>Profile settings for <%= @user.name %>:</h1>
<h2>Current email: <%= @user.email %></h2>

