
<h1>Welcome to Travel Tracker</h1>

<% if flash.has?(:message) %>
	<h2><%= flash[:message] %></h2>
<% end %>

<h3>Log In Please</h3>

<% if !Helpers.current_user(session) %>
    <form action="/users/login" method="post">
      <label for="name">Username</label>
      <input type="text" name="name" placeholder="Username">
      <label for="password">Password</label>
      <input type="password" name="password" placeholder="Password:">
      <input type='submit' value='Log In'>
    </form></br>
    <h1></h1>
 <% else %>
 	<h2>You must be a registered Travel Tracker user to use the app</h2>
 	<h3><a href="/users/signup">Sign Up to Travel Tracker here</a></h3></br>
 	<h1></h1>
 <% end %>	   
