
<h1>The Countries You Have Visited:</h1>

<h2><a href="/countries/new">Create a new country:</a></h2>

<% if flash.has?(:message) %>
	<h2><%= flash[:message] %></h2>
<% end %>	

<% countries = [] %>
<% @country.each do |country| %>
	<% if country.user_id == session[:user_id] %>
		<% countries << country %>
	<% end %>	
<% end %>	
<% new_countries = countries.sort_by {|country| country.name} %>
<% new_countries.each do |country| %>
	<h3><a href="/countries/<%= country.id %>"> <%= country.name %></a></h3>
<% end %>	

<h3><a href="/">Return to the main menu:</a></h3></br>
<h1></h1>