
<h1>Create Your New Country Here:</h1>

<form action="/countries" method="post">
	<label>Country Name:</label>
	<input type="text" name="country_name" id="country_name" />
	<input type="submit" value="Create Country" />
</form>	

<h3><a href="/countries">Return to the list of countries:</a></h3>

<h3><a href="/">Return to the main menu:</a></h3>
