
<h1>Edit your City <%= @city.name %></h1>

<form action="/cities/<%= @city.id %>/edit" method="post">
	<input id="hidden" type="hidden" name="_method" value="patch"/>
	<input type="text" name="name" id="city_name" />
	<input type="submit" value="Edit City" />
</form>	

<h3><a href="/cities">Return to the list of cities:</a></h3>

<h3><a href="/">Return to the main menu:</a></h3>