
<h1>Welcome to Travel Tracker</h1>

<% if flash.has?(:message) %>
	<h2><%= flash[:message] %></h2>
<% end %>

<% if !Helpers.is_logged_in?(session) %>
	<% if !Helpers.current_user(session) %>
		<h2>To use this app you must be a registered user and be logged in:</h2>
		<a href="/users/signup">Sign Up Here</a>
	<% else %>	
		<h2>You must be logged in to use this app</h2>
		<a href="/users/login">Log In Here</a>
	<% end %>
<% else %>		
	<h3><a href="/countries">View Countries You Have Visited:</a></h3>
	<h3><a href="/cities">View Cities You Have Visited:</a></h3>
<% end %>	