<!DOCTYPE html>
<html>
  <head>
  	<meta charset="UTF-8">
    <title>Travel Tracker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <style>
  	body {
	  	background: lightblue url(mp.jpg);
	  	background-size: cover;
	  	text-align: center;
    } 
    #container {
      border-radius: 25px;
    	position: relative;
    	top: 150px;
    	background: yellow;
    	width: 600px;
    	margin: 0 auto;
    }
  </style>	
  </head>

  <body>
  	<div id="container">
    	<%= yield %>
    </div>	
  </body>
</html>